
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Ubuntu', sans-serif;
    -webkit-tap-highlight-color: transparent;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html{
  scroll-behavior: smooth;

}

  body{
    background-color: #f4f2ed !important;
    overflow-x: hidden;
  }
  .bg-pale{
    background-color: #f4f2ed
  }
  .nav{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }


.product-logo{
  filter:grayscale(100%);
  transition:0.6s ease;
}

.product-logo:hover{
  filter:grayscale(0%);
  transform: scale(1.1);
}
.nav2{
  background: rgba( 0, 0, 0, 0.9 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );

}



.up-down-anim{
  -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-28px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-28px); }
}

.zx-btn{
  transition: 0.3s ease;
}
.zx-btn:hover{
  transform: translate(-5px,-5px);
  
}

.zx-shadow-btn{
  transition: 0.5s ease;
}
.zx-shadow-btn:hover{
  box-shadow: 6px 6px 0px rgba( 0, 0, 0, 1 );
  
}
.zx-shadow-btn:disabled{
  background: #fff;
  color:#000;

}
.zx-shadow-btn:disabled:hover{
  background: #fff;
  
}

.white-svg{
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(113deg) brightness(109%) contrast(101%);
}

.link{
  transition: 0.5s ease;
}
.link:hover{
  transform: translateY(-6px);
}

.rotate-icon{
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}